.site-header {
  .site-title a {
    text-transform: none;
  }
}

.border-one-px img {
  border: 1px solid #333;
}

.small-menu-social {
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    max-width: 25%;
    margin-left: 1rem;
    margin-right: 1rem;

    &:hover {
      fill: #ca4c19;
    }
  }
}

.big-menu-social {
  display: none;
}

@media only screen and (min-width: 800px) {

  .site-inner {
    margin-top: 0 !important;
    max-width: 100% !important;
  }

  .blog .site-inner {
    max-width: 1280px !important;
  }
  header.site-header {
    background-color: transparent;
    color: transparent;
    border: none;
  }
  .white header.site-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }

  .small-menu-social {
    display: none;
  }

  .big-menu-social {
    display: flex;
    float: right;
    padding-top: 27px;

    a {
      padding-left: 1.5rem;
    }
  }
}
