.offscreen-content-icon {
  display: none;
}

.front-page .nav-primary .genesis-nav-menu a {
  color: black !important;
}

.front-page .nav-primary .genesis-nav-menu a:hover {
  color: #606060 !important;
}


.small-menu-social {
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    max-width: 25%;
    margin-left: 1rem;
    margin-right: 1rem;

    &:hover {
      fill: #606060;
    }
  }
}

.menu-toggle:hover {
  color: #606060;
}

.big-menu-social {
  display: none;
}

.assistive-text,
.search-toggle,
.wrap > #searchform {
  display: none;
}

.mobile-search-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;

  .field {
    padding: 15px;
    font-size: 1.8rem;
  }
}

// hide layout component that shows count of comments and byline

.entry-meta {
  display: none;
}

footer .copyright {
  margin-top: 2rem;
}

footer .credits {
  margin-top: 1rem;
  line-height: 2.7rem;
}


@media only screen and (min-width: 800px) {

  header.site-header {
    background-color: transparent;
    color: transparent;
    border: none;
  }
  .white header.site-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }

  .small-menu-social,
  .mobile-search-wrapper {
    display: none;
  }

  .nav-primary .wrap {
    width: 520px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    a {
      padding-left: 17px;
      padding-right: 17px;
      padding-top: 22px;
      padding-bottom: 0;
    }

    .special-two-row a {
      padding-top: 0;
      padding-bottom: 25px;
    }
  }

  header.entry-header,
  .archive-description,
  .error404 .entry {
    margin-top: 70px;
  }

  .search-toggle {
    display: inline-block;
    position: relative;
    top: 5px;
  }

  .wrap > #searchform {
    visibility: hidden;
    opacity: 0;
  }

  .wrap > #searchform.show {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  footer .credits {
    ul {
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
    }

    li {
      width: inherit;
    }

    li.pipe {
      display: inline-block;
      width: 1%;
    }
  }

}

@media only screen and (min-width: 801px) {
  .big-menu-social {
    display: flex;
    float: right;
    padding-top: 20px;

    a {
      padding-left: 2.2rem;
      display: flex;
      align-items: center;

      &:hover {
        fill: #606060;
      }
    }
  }
}

@media only screen and (min-width: 875px) {

  nav.nav-primary {
    width: 55%;
  }
}

@media only screen and (min-width: 1100px) {

  nav.nav-primary {
    width: 55%;
  }
}
@media only screen and (min-width: 1300px) {

  .wrap > .title-area {
    width: 15%;
  }

  .nav-primary .wrap {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;

    a,
    .special-two-row a {
      padding: 19px 15px;
    }
  }

  .big-menu-social {
    padding-top: 20px;
  }

  header.entry-header,
  .archive-description,
  .error404 .entry {
    margin-top: 20px;
  }

}
