.home,
.page-books {
  .entry-header {
    display: none;
  }

  .site-inner {
    padding: 0;
    margin: 0;
  }

  /* Kona IG block plugin */

  .wp-block-cgb-kona-instagram-for-gutenberg {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

.three-obessions {
  margin-top: 4rem;

  .wp-block-column {
    background-color: #ca4c19;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

    p {
      margin: 0;
      display: block;
      height: 100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    p a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}

.home-email {

  .colin-quote {
    font-size: 2rem;
    line-height: 3.6rem;
  }

  #mc-embedded-subscribe-form {
    margin-top: 2rem;
  }
  .email.mc-input {
    padding: 10px;
    text-align: center;
  }
  .btn.mc-button {
    width: 100%;
    font-size: 1.7rem;
    margin-top: 1rem;
    padding: 18px;
  }
}

@media only screen and (min-width: 510px) {
  .three-obessions {
    justify-content: space-around;

    .wp-block-column {
      height: 150px;
      width: 150px;
      margin-left: inherit;
      margin-right: inherit;
      flex: 0 0 auto !important;
    }
  }
}

@media only screen and (min-width: 540px) {
 .home {
   .wp-block-cgb-kona-instagram-for-gutenberg .kona-grid {
     grid-template-columns: repeat(3, 1fr) !important;
   }
 }
}

@media only screen and (min-width: 600px) {
  .three-obessions {
    .wp-block-column:nth-child(2n) {
      margin-left: inherit;
    }

    .wp-block-column:not(:first-child) {
      margin-left: inherit !important;
    }
  }
}

@media only screen and (min-width: 800px) {
  .home {
    #genesis-content {
      padding: 0;
      max-width: 100%;
    }

    .home-email {
      .colin-quote {
        max-width: 62%;
        color: white;
        font-weight: bold;
        line-height: 2.9rem;
        padding-left: 8rem;
        font-size: 2.4rem;
        line-height: 3.6rem;
        padding-top: 0;
      }
    }

  }

  .three-obessions {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .wp-block-column {
      height: 200px;
      width: 200px;

      p a {
        font-size: 3.2rem;
      }
    }
  }
}

@media only screen and (min-width: 800px) {

  .home-email {
    #mc-embedded-subscribe-form {
      margin-top: 6rem;
    }
  }

  .wp-block-cgb-kona-instagram-for-gutenberg .kona-grid {
    max-width: 1100px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .front-page-service a {
    &:hover {
      color: #ec642e;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home .home-email {
    .colin-quote {
      max-width: 52%;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .home {

    .home-email {
      .colin-quote {
        padding-left: 15%;
        max-width: 820px;
      }
    }
  }
}
