.home {
  .entry-header {
    display: none;
  }

  .site-inner {
    padding: 0;
    margin: 0;
  }

}


@media only screen and (min-width: 800px) {
  .home {

    .site-inner {
      margin-top: 0 !important;
    }

    .site-header {
      background-color: transparent;
    }

    #genesis-content {
      padding: 0;
      max-width: 100%;
    }

    .full-width-content .content {

    }
  }
}
