body.page {
  // styling the Genesis search form for use as a shortcode
  .entry-content form.search-form {
    width: 100%;
    max-width: 550px;
    text-align: center;

    .search-form-input {
      font-size: 2.3rem;
      padding-top: 6px;
    }

    .search-form-submit {
      font-size: 1.4rem;
    }
  }
}

body.page-writing {
  .site-inner {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 800px) {
  body.page-writing {
    main.content {
      padding-top: 3rem;
    }
  }
}

body.page-about-lauren,
body.page-one-possible-page {
  header.entry-header {
    display: none;
  }

  main.content {
    padding-top: 0;
  }

  .wp-block-atomic-blocks-ab-columns {
    padding-top: 8% !important;
  }
}

@media only screen and (min-width: 800px) {
  body.page-about-lauren,
  body.page-one-possible-page {
    .wp-block-atomic-blocks-ab-columns {
      padding-top: 15% !important;
    }
  }
}
