.page-books,
.page-coaching,
.page-speaking,
.page-leading,
.page-press,
.page-articles {
  .entry-header {
    display: none;
  }

  .site-inner {
    padding: 0;
    margin: 0;
  }
}

.entry-content {
  hr.invisible-seperator {
    border-bottom: 2px solid transparent;
  }
}

// book page items

.book-column-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

.lede-coaching {

  .colin-quote {
    font-weight: 600;
  }
}

//
.wp-block-embed-vimeo.landing-vimeo,
.wp-block-embed-youtube.landing-youtube,
.wp-block-embed figcaption {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.landing-cc-embed {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

body.page .entry-content .wp-block-quote::before {
  color: #222;
  font-size: 16px;
  left: -13px;
  top: 5px;
}

.content .landing-cta-btn .wp-block-button__link {
  background-color: #ca4c19 !important;
  &:hover {
    background-color: black !important;
  }
}

@media only screen and (min-width: 510px) {
  .book-column-wrapper {
    .wp-block-column:not(:first-child) {
      padding-left: 2rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .book-column-wrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    .wp-block-column:not(:first-child) {
      padding-left: 0;
    }
  }
}

@media only screen and (min-width: 800px) {
  /* Pages with dark lede images */

  .page-books,
  .page-leading,
  .page-press {
    .site-title a,
    .menu a {
      color: white;
    }

    .site-title a:hover {
      color: white;
    }

    // this is when the Genesis js applies a menu bg

    .white {
      .site-title a,
      .menu a {
        color: black;
      }
    }
  }

  .page-books,
  .page-coaching,
  .page-speaking,
  .page-leading,
  .page-press,
  .page-articles {
    #genesis-content {
      padding: 0;
      max-width: 100%;
    }

    .wp-block-image img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  // coaching only

  .lede-coaching {
    .colin-quote-image {
      align-items: flex-start;
      justify-content: space-around;
    }
    .colin-quote {
      margin-top: 8%;
      max-width: 90%;
      font-size: 2.2rem;
      line-height: 4rem;
    }
  }

  // leading only

  .leading-lede {
    .colin-quote {
      max-width: 50%;
    }
    .colin-quote-image {
      justify-content: flex-end;
    }
  }

}

@media only screen and (min-width: 1000px) {
  .book-column-wrapper {
    max-width: 750px;
  }
  .entry-content h4,
  .entry-content h3,
  .entry-content h2 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  // coaching only

  .lede-coaching {
    .colin-quote {
      width: 60%;
      max-width: 900px;
      margin-left: auto;
      font-size: 2.8rem;
      line-height: 4.6rem;
    }
  }


}


@media only screen and (min-width: 1200px) {
  // leading only

  .leading-lede {
    .colin-quote {
      margin-right: 7%;
    }
  }

  .lede-coaching {
    .colin-quote {
      margin-right: 12%;
    }
  }
}
