.in-post-email {
  margin-bottom: 4rem;

  .email-hed {
    margin-top: 7rem;
  }
}

.mc-field-container {
  text-align: center;

  .mc-button {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.all-posts-btn {
  margin-top: 8rem;
}

.boxzilla-container .boxzilla {
  max-width: 500px;

  .boxzilla-close-icon {
    font-size: 65px;
    right: 4px;
  }
}

@media only screen and (min-width: 800px) {

  .mc-field-container {
    display: flex;

    .mc-field-group {
      width: 70%;
    }

    .mc-button {
      width: 28%;
      margin-top: 0;
    }
  }

}
